<div class="navbar">
<ul>
  <li> <a href="https://www.hdfilmcehennemi.pw/hdfilmizle/"> <img id="logo" src="https://i.ibb.co/878fgd0/logo-hdf.png" alt="img"> </a></li>
  <li> <a href=" https://www.hdfilmcehennemi.pw/hdfilmizle/"> <img id="homelogo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIwy6YATQ-9FB4j7noCzBz5tjVNAiHSbXs7Q&usqp=CAU" alt=""> </a> </li>
  <li> <a href=""> Filmler</a> </li>
  <li> <a href=""> Diziler</a> </li>
  <li> <a href="">Ölmeden İzle</a> </li>
  <li> <a href=""> Seri Filmler</a> </li>
  <li > <input type="text" id="search" placeholder="Film veya Dizi Ara "></li>
  <li> <a  href="">Kayıt Ol <i class="bi bi-plus-circle" style="margin: 2px ; padding: 2px;"></i></a> </li>
  <li> <button id="giris">Giriş Yap <i class="bi bi-person-circle" style="margin: 2px; padding: 2px;" ></i></button> </li>
</ul>
</div>



