.container{
   background-color: purple;
  width: 1000px;
  height: 4000px;
 border-radius:12px;
   margin: auto;            /*ekranı daralttığımızda çözünürlüğe göre otomatik olarak ortalıyor divi*/
   margin-top: 100px;         /*div yukarıdan it  */
}
